# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Database
*.db

# Environment
.env

# Jupyter
.ipynb_checkpoints/